{% extends "::private.html.twig" %}

{% block content %}
<ul class="breadcrumb">
    <li>
        <a href="{{ path('ghome_core_config_index') }}">Configuration</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{{ path('ghome_core_config_rules') }}">Règles de pilotage</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        Ajouter une nouvelle règle
    </li>
</ul>

<div class="alert">
    La règle configurée s'appliquera pour chaque pièce de votre maison de façon 
    indépendante des autres. <strong>Toutes</strong> les conditions doivent être 
    remplies pour qu'elle soit déclenchée et <strong>toutes</strong> les actions 
    seront alors exécutées.
</div>

<form method="post" action="">
    <table style="width: 90%;"><tbody>
        <tr>
            <td style="width: 10%; vertical-align: top;">SI</td>
            
            <td style="width: 40%; vertical-align: top;">
                <div id="conditions">
                    <div id="condition_$id$"><select class="span5" name="condition_metric[$id$]" id="condition_metric_$id$">
                    {% for metric in metrics %}
                    <option value="{{ metric.id }}">{{ metric.name }}</option>
                    {% endfor %}
                </select>
                <select class="span2" name="condition_comp[$id$]" id="condition_comp_$id$">
                    {% for key, value in comparators %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
                <input type="integer" class="span2" name="condition_threshold[$id$]" id="condition_threshold_$id$" /></div>
                </div>
                <a id="link_add_condition" href="#">Ajouter une condition</a>
            </td>
            
            <td style="width: 10%; vertical-align: top;">ALORS</td>
            
            <td style="width: 40%; vertical-align: top;">
                <div id="actions">
                    <div id="action_$id$"><select name="action_metric[$id$]" id="action_metric_$id$">
                        {% for metric in metrics %}{% if metric.isActuator %}
                        <option value="{{ metric.id }}-0">{{ metric.formatActuator(0) }}</option>
                        <option value="{{ metric.id }}-1">{{ metric.formatActuator(1) }}</option>
                        {% endif %}{% endfor %}
                    </select></div>
                </div>
                <a id="link_add_action" href="#">Ajouter une action</a>
            </td>
        </tr>
    </tbody></table>
        
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Envoyer" />
    </div>
</form>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var condition_prototype = $('#conditions').html();
    var action_prototype = $('#actions').html();

    $('#link_add_condition').click(function(event)
    {
        var collectionHolder = $('#conditions');
        form = condition_prototype.replace(/\$id\$/g, collectionHolder.children().length);
        collectionHolder.append(form);
        return false;
    });
    
    $('#link_add_action').click(function(event)
    {
        var collectionHolder = $('#actions');
        form = action_prototype.replace(/\$id\$/g, collectionHolder.children().length);
        collectionHolder.append(form);
        return false;
    });
    
    $(document).ready(function(event)
    {
        $('#conditions').html('');
        $('#actions').html('');
    });
</script>
{% endblock %}