{% extends "::admin.html.twig" %}

{% block content %}
<ul class="breadcrumb">
    <li>
        <a href="{{ path('ghome_core_default_index') }}">Accueil</a> 
        <span class="divider">/</span>
    </li>
    <li>
        <a href="#">Configuration</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{{ path('ghome_core_config_rules') }}">Règles de pilotage</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        Ajouter une nouvelle règle
    </li>
</ul>

<form method="post" action="">
    <fieldset>
        <div class="row">
            <div class="span1">SI</div>
            
            <div class="span5">
                <div id="conditions">
                    <div id="condition_$id$"><select class="span2" name="condition_metric[$id$]" id="condition_metric_$id$">
                    {% for metric in metrics %}
                    <option value="{{ metric.id }}">{{ metric.name }}</option>
                    {% endfor %}
                </select>
                <select class="span1" name="condition_comp[$id$]" id="condition_comp_$id$">
                    {% for key, value in comparators %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
                <input type="integer" class="span1" name="condition_threshold[$id$]" id="condition_threshold_$id$" /></div>
                </div>
                <a id="link_add_condition" href="#">Ajouter une condition</a>
            </div>
            
            <div class="span1">ALORS</div>
            
            <div class="span5">
                <div id="actions">
                    <div id="action_$id$"><select class="span2" name="action_metric[$id$]" id="action_metric_$id$">
                        {% for metric in metrics %}{% if metric.isActuator %}
                        <option value="{{ metric.id }}-0">{{ metric.formatActuator(0) }}</option>
                        <option value="{{ metric.id }}-1">{{ metric.formatActuator(1) }}</option>
                        {% endif %}{% endfor %}
                    </select></div>
                </div>
                <a id="link_add_action" href="#">Ajouter une action</a>
            </div>
        </div>
        
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Ajouter" />
        </div>
    </fieldset>
</form>

{% endblock %}