{% extends "::private.html.twig" %}

{% block content %}
<ul class="breadcrumb">
    <li>
        <a href="{{ path('ghome_core_config_index') }}">Configuration</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        Journaux
    </li>
</ul>

<div class="alert">
    <strong>Attention !</strong> Les journaux sont des données techniques 
    constituant la «&nbsp;boîte noire&nbsp;» de votre GHOME.
</div>

{{ pagerfanta(pager, 'twitter_bootstrap', {routeName: 'ghome_core_config_logs'}) }}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {% for log in pager.currentPageResults %}
        <tr>
            <td>{{ log.time|date('d/m/Y à H:i') }}</td>
            <td>
                {% if not log.type %}
                <span class="label label-important">Erreur</span>
                {% else %}
                <span class="label label-success">OK</span>
                {% endif %}
                {{ log.message }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{{ pagerfanta(pager, 'twitter_bootstrap', {routeName: 'ghome_core_config_logs'}) }}

{% endblock %}