{% extends "::base.html.twig" %}

{% block content %}
<ul class="breadcrumb">
    <li>
        <a href="{{ path('ghome_core_default_index') }}">Accueil</a> 
        <span class="divider">/</span>
    </li>
    <li class="active">
        Configuration
    </li>
</ul>

<form method="post" action="">
    <fieldset>
        <legend>Ajouter une nouvelle règle</legend>
        
        <div class="row">
            <div class="span1">SI</div>
            
            <div class="span5">
                <div id="conditions">
                    </div>
                
                <a id="link_add_condition">Ajouter une condition</a>
            </div>
            
            <div class="span1">ALORS</div>
            
            <div class="span5">
                <div id="action_0"><select class="span2" name="action_metric[0]" id="action_metric_0">
                    {% for metric in metrics %}{% if metric.isActuator %}
                    <option value="{{ metric.id }}-0">{{ metric.formatActuator(0) }}</option>
                    <option value="{{ metric.id }}-1">{{ metric.formatActuator(1) }}</option>
                    {% endif %}{% endfor %}
                </select></div>
                
                <a id="link_add_action">Ajouter une action</a>
            </div>
        </div>
        
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Ajouter" />
        </div>
    </fieldset>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="2">Condition(s)</th>
            <th colspan="2">Action(s)</th>
        </tr>
    </thead>
    <tbody>
        {% for rule in rules %}
        <tr>
            {% if loop.first %}
            <td rowspan="{{ max(rule.conditions|length, rule.actions|length) }}">SI</td>
            {% endif %}
            <td>
                {% for condition in rule.conditions %}
                {{ condition.metric.name }} 
                {{ rule.formatComparator(condition.comparator) }} 
                {{ condition.metric.formatSensor(condition.threshold) }}
                {% endfor %}
            </td>
            {% if loop.first %}
            <td rowspan="{{ max(rule.conditions|length, rule.actions|length) }}">ALORS</td>
            {% endif %}
            <td>
                {% for action in rule.actions %}
                {{ action.metric.name }} : 
                {{ action.metric.formatActuator(action.value) }}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
<div id="condition_$id$"><select class="span2" name="condition_metric[$id$]" id="condition_metric_$id">
    {% for metric in metrics %}
    <option value="{{ metric.id }}">{{ metric.name }}</option>
    {% endfor %}
</select>
<select class="span1" name="condition_comp[$id$]" id="condition_comp_$id$">
    {% for key, value in comparators %}
    <option value="{{ key }}">{{ value }}</option>
    {% endfor %}
</select>
<input type="integer" class="span1" name="condition_threshold[$id]" id="condition_threshold_$id$" /></div>
    $('#link_add_condition').click(function(event)
    {
        var collectionHolder = $('#ghome_core_rule_conditions');
        var prototype = collectionHolder.attr('data-prototype');
        form = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);
        collectionHolder.append(form);
    });
    
    $('#ghome_core_rule_actions').append('<p><a href="#" id="add_action_link" class="btn">Ajouter une action</a></p>');
    $('#add_action_link').click(function(event)
    {
        var collectionHolder = $('#ghome_core_rule_actions');
        var prototype = collectionHolder.attr('data-prototype');
        form = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);
        collectionHolder.append(form);
    });
</script>
{% endblock %}