{% extends "::private.html.twig" %}

{% block content %}
<ul class="breadcrumb">
    <li>
        <a href="{{ path('ghome_core_config_index') }}">Configuration</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        Règles de pilotage
    </li>
</ul>

<p><a href="{{ path('ghome_core_config_addrule') }}">Ajouter une nouvelle règle</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="2">Condition(s)</th>
            <th colspan="2">Action(s)</th>
        </tr>
    </thead>
    <tbody>
        {% for rule in rules %}
        <tr>
            {% if loop.first %}
            <td rowspan="{{ max(rule.conditions|length, rule.actions|length) }}">SI</td>
            {% endif %}
            <td>
                {% for condition in rule.conditions %}
                {{ condition.metric.name }} 
                {{ rule.formatComparator(condition.comparator) }} 
                {{ condition.metric.formatSensor(condition.threshold) }}
                {% endfor %}
            </td>
            {% if loop.first %}
            <td rowspan="{{ max(rule.conditions|length, rule.actions|length) }}">ALORS</td>
            {% endif %}
            <td>
                {% for action in rule.actions %}
                {{ action.metric.name }} : 
                {{ action.metric.formatActuator(action.value) }}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}