{% extends "::private.html.twig" %}

{% block content %}
<ul class="breadcrumb">
    <li>
        <a href="{{ path('ghome_core_config_index') }}">Configuration</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        Règles de pilotage
    </li>
</ul>

<p>
    <a href="{{ path('ghome_core_config_addrule') }}">
        <i class="icon-plus"></i>
        Ajouter une nouvelle règle
    </a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="2">Condition(s)</th>
            <th colspan="2">Action(s)</th>
            <th>Opération(s)</th>
        </tr>
    </thead>
    <tbody>
        {% for i, rule in rules %}
        <tr>
            <td>
                SI
                {% for j in range(1, rule.conditions|length) %}
                {% if j > 1 %}<br />ET{% endif %}
                {% endfor %}
            </td>
            <td>
                {% for condition in rule.conditions %}
                    {{ condition.metric.name }} 
                    {{ rule.formatComparator(condition.comparator) }} 
                    {{ condition.metric.formatSensor(condition.threshold) }}
                    {% if not loop.last %}<br />{% endif %}
                {% endfor %}
            </td>
            
            <td>
                ALORS
                {% for j in range(1, rule.actions|length) %}
                {% if j > 1 %}<br />ET{% endif %}
                {% endfor %}
            </td>
            <td>
                {% for action in rule.actions %}
                    {{ action.metric.name }} : 
                    {{ action.metric.formatActuator(action.value) }}
                    {% if not loop.last %}<br />{% endif %}
                {% endfor %}
            </td>
            
            <td>
                {#<a href="{{ path('ghome_core_security_edit', {'position': i}) }}"><i class="icon-pencil"></i></a>#}
                <a href="{{ path('ghome_core_config_deleterule', {'position': i}) }}"><i class="icon-trash"></i></a>
                <a href="{{ path('ghome_core_config_addrule_1', {'position': i}) }}" title="Insérer une règle avant celle-ci">
                    <i class="icon-arrow-up"></i>
                </a>
                {% if loop.last %}
                    <a href="{{ path('ghome_core_config_addrule') }}" title="Insérer une règle en dernier">
                        <i class="icon-arrow-down"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}