{% extends "::base.html.twig" %}

{% block navbar %}
<ul class="nav">
    <li><a href="{{ path('ghome_core_default_index') }}">Ma maison</a></li>
    <li class="active"><a href="{{ path('ghome_core_config_index' )}}">Configuration</a></li>
</ul>
                    
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<ul class="nav pull-right">
    <li><a href="{{ path('logout') }}">Déconnexion ({{ app.user.username }})</a></li>
</ul>
{% endif %}
{% endblock %}

{% block container %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Pilotage</li>
                    <li><a href="{{ path('ghome_core_config_addrule') }}">
                        <i class="icon-plus"></i> 
                        Ajouter une règle</a></li>
                    <li><a href="{{ path('ghome_core_config_rules') }}">
                        <i class="icon-list-alt"></i> Liste des règles
                    </a></li>
                    
                    <li class="nav-header">Sécurité</li>
                    <li><a href="{{ path('ghome_core_security_add') }}">
                        <i class="icon-plus"></i>
                        Ajouter un utilisateur
                    </a></li>
                    <li><a href="{{ path('ghome_core_security_index') }}">
                        <i class="icon-user"></i>
                        Utilisateurs
                    </a></li>
                    
                    <li class="nav-header">Avancé</li>
                    <li><a href="{{ path('ghome_core_config_logs') }}">
                        <i class="icon-exclamation-sign"></i>
                        Journaux
                    </a></li>
                    <li><a href="{{ path('ghome_core_config_sensors') }}">
                        <i class="icon-signal"></i>
                        Capteurs
                    </a></li>
                </ul>
            </div>
        </div> <!-- /span3 -->
        <div class="span9">
            {% block content %}{% endblock %}
        </div> <!-- /span9 -->
    </div>
</div>
{% endblock %}