<form method="post" action="" {{ form_enctype(form) }}>
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
    {{ form_row(form.admin) }}
    
    {{ form_rest(form) }}
    
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Envoyer" />
    </div>
</form>