{% extends "::base.html.twig" %}

{% block content %}
<ul class="breadcrumb">
    <li class="active">
        Accueil
    </li>
</ul>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Métrique</th>
            <th>Pièce</th>
            <th colspan="3">État</th>
        </tr>
    </thead>
    <tbody>
    {% for row in data %}
        <tr>
            <td>
                {% if row.info.metricEntity %}
                <a href="{{ path('ghome_core_default_metric', {'id': row.info.metricEntity.id}) }}">
                    {{ row.info.metricEntity.name }}
                </a>
                {% else %}
                <span class="label label-warning">???</span>
                {% endif %}
            </td>
            <td>
                {% if row.info.roomEntity %}
                <a href="{{ path('ghome_core_default_room', {'id': row.info.roomEntity.id}) }}">
                    {{ row.info.roomEntity.name }}
                </a>
                {% else %}
                <span class="label label-warning">???</span>
                {% endif %}
            </td>
            <td>
                {% if row.info is defined %}
                    {{ row.info.metricEntity.formatSensor(row.info.value) }}
                {% elseif row.metricEntity.isSensor %}
                    <span class="label label-warning">Aucune donnée</span>
                {% endif %}
            </td>
            <td>
                {% if row.action is defined %}
                    <span class="label {{ row.action.metricEntity.actuatorCssClass(row.action.value) }}">{{ row.action.metricEntity.formatActuator(row.action.value) }}</span>
                {% elseif row.metricEntity.isActuator %}
                    <span class="label label-warning">Aucune donnée</span>
                {% endif %}
            </td>
            <td>
                {% if row.info.metricEntity %}
                <a href="{{ path('ghome_core_default_sensor', {'metricId': row.info.metricEntity.id, 'roomId': row.info.roomEntity.id}) }}" class="btn">
                    Détails
                </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}