{% extends "::base.html.twig" %}

{% block content %}
<ul class="breadcrumb">
    <li>
        <a href="{{ path('ghome_core_default_index') }}">Accueil</a> 
        <span class="divider">/</span>
    </li>
    <li class="active">
        {{ metric.name }}
    </li>
</ul>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Pièce</th>
            <th>Dernière mesure</th>
            <th>Valeur</th>
        </tr>
    </thead>
    <tbody>
        {% for info in infos %}
        <tr>
            <td>
                <a href="{{ path('ghome_core_default_sensor', {'metricId': metric.id, 'roomId': info.roomEntity.id} )}}">
                    {{ info.roomEntity.name }}
                </a>
            </td>
            <td>{{ info.time|date('d/m/Y à H:i') }}</td>
            <td>{{ info.metricEntity.formatSensor(info.value) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}