{% extends "::public.html.twig" %}

{% block content %}
<ul class="breadcrumb">
    <li>
        <a href="{{ path('ghome_core_default_index') }}">Accueil</a> 
        <span class="divider">/</span>
    </li>
    <li class="active">
        {{ metric.name }}
    </li>
</ul>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Pièce</th>
            <th>Dernière mesure</th>
            <th>Dernière action</th>
        </tr>
    </thead>
    <tbody>
    {% for row in data %}
        <tr>
            <td>
                <a href="{{ path('ghome_core_default_sensor', {'metricId': row.metricEntity.id, 'roomId': row.roomEntity.id}) }}" class="btn btn-primary">+</a>
            </td>
            <td>
                <a href="{{ path('ghome_core_default_room', {'id': row.roomEntity.id}) }}">
                    {{ row.roomEntity.name }}
                </a>
            </td>
            <td>{% include "GHOMECoreBundle:Default:sensorLastValue.html.twig" %}</td>
            <td>{% include "GHOMECoreBundle:Default:sensorLastAction.html.twig" %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}