{% extends "::base.html.twig" %}

{% block content %}
<ul class="breadcrumb">
    <li>
        <a href="{{ path('ghome_core_default_index') }}">Accueil</a> 
        <span class="divider">/</span>
    </li>
    <li class="active">
        {{ room.name }}
    </li>
</ul>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Métrique</th>
            <th>Dernière mesure</th>
            <th>Valeur</th>
        </tr>
    </thead>
    <tbody>
        {% for info in infos %}
        <tr>
            <td>
                <span class="label label-success">OK</span> 
                <a href="{{ path('ghome_core_default_sensor', {'metricId': info.metricEntity.id, 'roomId': room.id} )}}">
                    {{ info.metricEntity.name }}
                </a>
            </td>
            <td>{{ info.date|date('d/m/Y à H:i') }}</td>
            <td>{{ info.metricEntity.formatSensor(info.value) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

