{% extends "::public.html.twig" %}

{% block content %}
<ul class="breadcrumb">
    <li>
        <a href="{{ path('ghome_core_default_index') }}">Accueil</a> 
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{{ path('ghome_core_default_metric', {'id': metric.id})}}">{{ metric.name }}</a> 
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{{ path('ghome_core_default_room', {'id': room.id})}}">{{ room.name }}</a> 
        <span class="divider">/</span>
    </li>
    <li class="active">
        Mesures
    </li>
</ul>

<div class="row">
    <div class="span{% if infos|length > 0 %}4{% else %}12{% endif %}">
        {% if metric.isSensor %}
        <div class="alert alert-success">
            {% if infos.0 is defined %}
            Dernière mesure : {{ metric.formatSensor(infos.0.value) }}
            {% else %}
            <em>Aucune mesure enregistrée</em>
            {% endif %}
        </div>
        {% endif %}

        {% if metric.isActuator %}
        <div class="alert alert-info">
            Dernière action :
            {% if actions|length == 0 or actions.0.value == 0 %}
                {{ metric.formatActuator(0)|lower }}
            {% else %}
                {{ metric.formatActuator(actions.0.value) }}
            {% endif %}
            
            <form method="post" action="{{ path('ghome_core_default_sensor', {'roomId': room.id, 'metricId': metric.id}) }}" style="margin-top: 15px; text-align: center;">
                {% if actions|length == 0 or actions.0.value == 0 %}
                    <input type="hidden" name="do" value="1" />
                    <input type="submit" class="btn btn-success" value="Activer" />
                {% else %}
                    <input type="hidden" name="do" value="0" />
                    <input type="submit" class="btn btn-danger" value="Désactiver" />
                {% endif %}
            </form>
        </div>
        {% endif %}
    </div>

    {% if infos|length > 0 %}
    <div class="span8">
        <div id="chart_div"></div>
    </div>
    {% endif %}
</div>

{% if infos|length > 0 or actions|length > 0 %}
{{ pagerfanta(pager, 'twitter_bootstrap', {routeName: 'ghome_core_default_sensor', routeParams: {roomId: room.id, metricId: metric.id}}) }}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for row in pager.currentPageResults %}
        {% if row is instanceof('\\GHOME\\CoreBundle\\Entity\\Info') %}
        <tr>
            <td><span class="label">Mesure</span></td>
            <td>{{ row.time|date('d/m/Y à H:i') }}</td>
            <td>{{ metric.formatSensor(row.value) }}</td>
        </tr>
        {% elseif row is instanceof('\\GHOME\\CoreBundle\\Entity\\Action') %}
        <tr>
            <td>
                <span class="label {% if row.value > 0 %}label-success{% else %}label-important{% endif %}">
                    Action
                </span>
            </td>
            <td>{{ row.time|date('d/m/Y à H:i') }}</td>
            <td>
                {{ metric.formatActuator(row.value) }}
                <span style="font-size: 0.8em;">({{ row.author }})</span>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        
    </tbody>
</table>

{{ pagerfanta(pager, 'twitter_bootstrap', {routeName: 'ghome_core_default_sensor', routeParams: {roomId: room.id, metricId: metric.id}}) }}

{% endif %}

{% endblock %}

{% block javascripts %}
{% if infos|length > 0 %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart()
        {
            var data = new google.visualization.DataTable();
            data.addColumn('datetime', 'Date');
            data.addColumn('number', {{ metric.name|json_encode|raw }});
            data.addRows([
                {% for info in infos %}
                [new Date({{ info.time|date('r')|json_encode|raw }}), {{ info.value }}]{% if not loop.last %}, {% endif %}
                {% endfor %}
            ]);
        
            /*var formatter = new google.visualization.NumberFormat(
                  {suffix: ' ', negativeColor: 'red', negativeParens: true});
            formatter.format(data, 2);*/

            var options = {
                width: 800, height: 400,
                pointSize: 5,
                legend: 'none',
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
    {% endif %}
{% endblock %}