{% extends "::base.html.twig" %}

{% block content %}
<ul class="breadcrumb">
    <li>
        <a href="{{ path('ghome_core_default_index') }}">Accueil</a> 
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{{ path('ghome_core_default_metric', {'id': metric.id})}}">{{ metric.name }}</a> 
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{{ path('ghome_core_default_room', {'id': room.id})}}">{{ room.name }}</a> 
        <span class="divider">/</span>
    </li>
    <li class="active">
        Mesures
    </li>
</ul>

<div class="row">
    <div class="span4">
        {% if metric.isSensor %}
        <div class="alert alert-success">
            {% if infos.0 %}
            Dernière mesure : {{ metric.formatSensor(infos.0.value) }}
            {% else %}
            <em>Aucune mesure</em>
            {% endif %}
        </div>
        {% endif %}

        {% if metric.isActuator %}
        <div class="alert alert-info">
            {% if actions|length == 0 or actions.0.value == 0 %}
                {{ metric.formatActuator(0) }}
                <a class="btn btn-success" style="margin-left: 40px;" href="?do=1">Activer</a>
            {% else %}
                {{ metric.formatActuator(actions.0.value) }}
                <a class="btn btn-danger" style="margin-left: 40px;" href="?do=0">Désactiver</a>
            {% endif %}
        </div>
        {% endif %}
    </div>

    <div class="span8">
        <div id="chart_div"></div>
    </div>
</div>

{{ pagerfanta(pager, 'twitter_bootstrap') }}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for row in pager.currentPageResults %}
        {% if row is instanceof('\\GHOME\\CoreBundle\\Entity\\Info') %}
        <tr>
            <td><span class="label">Mesure</span></td>
            <td>{{ row.time|date('d/m/Y à H:i') }}</td>
            <td>{{ metric.formatSensor(row.value) }}</td>
        </tr>
        {% elseif row is instanceof('\\GHOME\\CoreBundle\\Entity\\Action') %}
        <tr>
            <td>
                <span class="label {% if row.value > 0 %}label-success{% else %}label-important{% endif %}">
                    Action
                </span>
            </td>
            <td>{{ row.time|date('d/m/Y à H:i') }}</td>
            <td>{{ metric.formatActuator(row.value) }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        
    </tbody>
</table>

{{ pagerfanta(pager, 'twitter_bootstrap') }}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart()
    {
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Date');
        data.addColumn('number', {{ metric.name|json_encode|raw }});
        data.addRows([
            {% for info in infos %}
            [new Date({{ info.time|date('r')|json_encode|raw }}), {{ info.value }}]{% if not loop.last %}, {% endif %}
            {% endfor %}
        ]);
        
        /*var formatter = new google.visualization.NumberFormat(
              {suffix: ' ', negativeColor: 'red', negativeParens: true});
        formatter.format(data, 2);*/

        var options = {
            width: 800, height: 400,
            pointSize: 5,
            legend: 'none',
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
{% endblock %}